*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
	font-weight: inherit;
	text-align: inherit;
	background: transparent;
	cursor: default;
}
body{
	font-weight: 300;
	text-align: center;
	background: linear-gradient(to right, rgba(3, 126, 198, 0.7),rgba(0, 191, 209, 0.7));
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
a{
	cursor: pointer;
}
canvas{
	margin: auto;
}
canvas#canvas2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.info {
	position: absolute;
	font-size: 40px;
	padding: 40px;
	color: #FFF;
	background: radial-gradient(#333,#000);
}
b{
	font-weight: 700;
	width: 80px;
	display: inline-block;
	text-align: left;
}
.canvasCOntainer{
	position: relative;
	margin: auto;
}
@media only screen and (max-width: 610px) {
	body{
		background: radial-gradient(#EEE,#FFF);
	}
}